/* #root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
} */

.landing {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
}

.landing h1 {
  color: black;
  font-family: "DM Serif Display", serif;
  transform: translateX(100px);
}
.landing .landing-text {
  float: left;
  padding: 200px 0 50px;
  /* transform: translateX(); */
}

/* .landing .landing-text .landing-text-headers {
  transform: translateX(-400px);
} */

.landing .landing-image {
  align-content: center;
  float: right;
  height: 300px;
  width: 500px;
  margin-right: 200px;
  transform: translateY(-210px) translateX(-50px);
}

.location-searchbar {
  margin-top: 60px;
  margin-right: 20px;
}
