.product-view-page {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 800px;
}

.product-view-page .description {
  color: gray;
}

/* category  */
.product-view-page .category {
  font-size: 16px;
  transform: translateY(265px) translateX(-498px);
}

.product-view-image-wrapper {
  float: left;
  margin-top: 100px;
  margin-left: auto;
}

.product-view-image {
  height: auto;
  max-width: 400px;
}

.product-descriptions-wrapper {
  float: right;
  margin-left: 50px;
  margin-right: auto;
}

/* product name  */
.product-descriptions-wrapper .name {
  font-family: "DM Serif Display", serif;
  margin-bottom: 20px;
}

/* product price */
.product-descriptions-wrapper .price {
  margin-bottom: 10px;
}

.storeName button {
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
}

.product-descriptions-wrapper .waitlistButton {
  /* transform: translateY(-100); */
  transform: translateX(250px);
  background-color: transparent;
  border: none;
  color: gray;
}

.product-descriptions-wrapper .addToCartButton {
  margin-top: 10px;
}
