@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
.product-card {
  width: 300px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 15px;
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #b86b77;
}

.product-details p {
  font-size: 15px;
  line-height: 1px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #b86b77;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links button {
  display: inline-block;
  margin-left: 15px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links button:hover {
  color: #b86b77;
  cursor: pointer;
}

/* .element-image {
  display: flex;
  width: 250px;
  height: 250px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.add {
  display: flex;
  color: #6096ba;
  border: solid;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  cursor: pointer;
}

.remove {
  display: flex;
  color: #6096ba;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(58, 57, 57);
  padding: 15px;
  border-radius: 5px;
}

.product-card:hover {
  transform: translate3d(0px, -1px, 0px);
  transition-duration: 0.75s;
}

.item-section {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-evenly;
  width: 100%;
}

.product-price {
  margin-top: 3px;
  margin-bottom: 3px;
}

.product-name {
  margin-bottom: 0px;
  color: black;
} */

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  /* font-size: 50px; */
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
