.container {
  display: flex;
  align-items: center;
  justify-content: center;

  /* margin: auto; */
  /* flex-direction: row; */
}
.container .productDescription {
  display: inline-block;
}

/* image */
.container .image {
  height: 500px;
  width: 500px;
  overflow: hidden;
  text-decoration: none;
  transform: translateY(100px);
}
.container .product-image {
  height: auto;
  width: 400px;
  text-decoration: none;
  /* height: 450px;
  width: 450px;
  transform: translateY(50px) translateX(130px);
  display: flex; */
  /* float: left;
  width: 200px;
  height: 200px;
  object-fit: scale-down; */
  /* object-fit: cover; */
}

/* product name  */
.container .name {
  font-family: "DM Serif Display", serif;
  margin-bottom: 20px;
}

/* product price */
.container .price {
  margin-bottom: 10px;
}

/* store name */
/* .container .storeName {
  transform: translateX(-30px) translateY(-60px);
  display: flex;

  align-items: center;
  justify-content: center;
} */

/* product description */
.container .description {
  color: gray;
}

/* category  */
.container .category {
  font-size: 16px;
  transform: translateY(250px) translateX(-498px);
}

/* add to cart button */
.container .addToCartButton {
  transform: translateY(190px) translateX(-300px);
}

.container .waitlistButton {
  transform: translateY(-120px);
}
