/* .product-grid-container {
  float: right;
  display: inline;
  margin-left: 10%;
} */

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 1%;
  margin-right: 5%;
  gap: 7px;
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 401px) and (max-width: 901) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 901px) and (max-width: 1600px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.none-found {
  margin-top: 30px;
  width: 500px;
}
