.product-form h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(30px);
  font-family: "DM Serif Display", serif;
}

.product-form h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(60px);
  font-family: "DM Serif Display", serif;
}
