/* .content {
  color: black;
} */

.store-overview-header {
  height: 30px;
}

.add-store-btn-wrapper {
  height: 40px;
}

.add-store-btn {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin-top: 40px;
  margin-right: 100px;
  border: none;
  border-radius: 7px;
  font-size: 15px;
}

.add-store {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 1em;
  border-radius: 5px;
}
