.page-head {
  text-align: center;
  padding-top: 20px;
  font-family: "DM Serif Display", serif;
  transform: translateY(10px);
}

.searchbar {
  justify-content: center;
  transform: translateY(8px);
}

.category {
  display: inline;
}

.categoryList {
  display: flex;
  justify-content: center;
  list-style: none;
  transform: translateX(70px);
}

.product-gridSearch {
  display: flex;
  flex-wrap: wrap;
}
