.searchbar-section {
  display: block;
  justify-content: left;
}

.search-btn-emoji {
  font-size: 35px;
  display: flex;
}

.input.input {
  font-size: 20px;
  width: 130px;
  background-color: white;
  color: black;
}

.product-grid {
display: flex;
}

.categories{
  
}