.page-head {
  text-align: center;
  padding-top: 20px;
}

.searchbar {
  justify-content: center;
}

.category{
  display: inline;
}

.categoryList {
  display: flex;
  justify-content: center;
}

.product-gridSearch {
  display: flex;
  flex-wrap: wrap;
}
