/* gets rid of the white that shows scrolling up */
/* * {
  overflow: auto;
} */

/* navbar designing  */
.navbar {
  width: 100%;
  max-width: 100vw;
  background: #f2ccc3;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 80px;
}
/*container inside the navbar for the links*/
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin-left: auto;
  flex: 1 1;
  max-width: 650px;
  gap: 30px;
  transform: translateX(-130px);
  color: black;
}

.account:hover {
  cursor: pointer;
}

.links .logoutButton:hover {
  cursor: pointer;
  color: gray;
}

.links .loginButton:hover {
  color: gray;
}
.shop-link a {
  text-decoration: none;
}

.shop-link a:hover {
  color: gray;
}

.dropdown-links a {
  text-decoration: none;
}

.loginButton a {
  text-decoration: none;
}

hr.nav-line {
  border: 0.1px gray;
}
