.footer {
  bottom: 0%;
  position: absolute;
  padding-top: 30px;
  padding-bottom: 70px;
  color: black;
  transform: translateY(100vh);
}

hr {
  background-color: black;
  height: 1px;
  width: 1260px;
  border: none;
}

.about {
  padding: 20px;
}
.terms {
  padding: 20px;
}

.dnr {
  padding: 20px;
}
