.footer {
  bottom: 0%;
  position: fixed;
  padding-bottom: 70px;
  color: black;
}

hr {
  background-color: black;
  height: 1px;
  width: 1260px;
  border: none;
}

.about {
  padding: 20px;
}
.terms {
  padding: 20px;
}

.dnr {
  padding: 20px;
}
