.cart-banner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "DM Serif Display", serif;
  transform: translateY(30px);
}

.cart-banner h1 {
  font-family: "DM Serif Display", serif;
}

.cart-page {
  display: flex;
  flex-direction: row;
}

.shopping-cart-totals h1 {
  /* font-family: "DM Serif Display", serif; */
  margin-bottom: 40px;
  font-size: 30px;
}

.shopping-cart {
  width: 800px;
  height: auto;
  margin: 80px 20px 0 auto;
  background: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  float: left;
}

.shopping-cart-totals {
  width: 600px;
  float: right;
  margin: 80px auto 0 0;
  background: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 6px;
  padding: 100px;
  height: 550px;
  background-color: rgb(245, 245, 245);
}

.subtotal {
  padding-right: 100px;
}

.delivery {
  padding-right: 100px;
}

.checkout-btn-wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.checkout-btn {
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: 400px;
  height: 60px;
}

.checkout-hr {
  margin-top: 40px;
  margin-bottom: 40px;
  width: auto;
  background-color: #5e6977;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.total {
  margin-bottom: 40px;
}

.total-label {
  padding-right: 160px;
}

.total-price {
  font-size: 16px;
  font-weight: 300;
}

.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.buttons {
  /* position: relative; */
  padding-top: 30px;
  color: black;
  /* margin-right: 60px; */
  /* display: flex; */
}

.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
}

.like-btn {
  margin-left: 60px;
}

/* .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
    color: black;
  } */

.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

.image {
  margin-left: 70px;
  width: 100px;
}

.product-img {
  max-width: 90px;
  max-height: 90px;
  width: auto;
  height: auto;
}

.description {
  padding-top: 10px;
  margin-right: 20px;
  width: 100px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.store {
  color: #43484d;
}
.price {
  margin-top: 20px;
  width: 100px;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

.quantity {
  padding-top: 20px;
  /* margin-right: 20px; */
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.minus-btn {
  margin-bottom: 3px;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.plus-btn {
  margin-top: 2px;
  color: black;
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}