.checkout-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-banner h1 {
  font-family: "DM Serif Display", serif;
  transform: translateY(30px);
}

.checkout {
  display: flex;
  align-items: right;
  justify-content: right;
  transform: translateY(50px) translateX(-350px);
}

/* .checkout .delivery-details .your-order h2{

} */
